.demo-app-main{
    height: 490px;
    /* width: 900px; */
    /* background-color: white; */
}
/* .fc-theme-standard td, .fc-theme-standard th {
    border: 0} */
.md-custom-event-img {
        width: 25px;
        height: 25px;
        margin: 0 2px;
    }

#done{
        color: #7782ee;
        background-color: #e4e7fe;
    }
    
#running{
        color:#f86459;
        background-color: #fbbfbb;
    }
#waiting{
        color:#756d6d;
        background-color: #d5d4d4;
    }
    
.fc .fc-timegrid-slot-minor {
        border-top-style: hidden;
    }
.fc .fc-view-harness {
        flex-grow: 1;
        background-color: white;
        position: relative;}