@media(max-width:768px){
    #CreatePatient-content{
        width: 100%;
        margin: 0;
    }

}


.profile-button-circle{
    height: 8.125rem;
    width: 8.125rem;
    background-color: #dddddc;
    border: 0.063rem solid #dddddc;
    border-radius: 50%;
}
textarea {
    resize: none;
 }
.textarea{
    border:0.063rem solid #CED4DA;
    border-radius: 0.188rem;
}
.textarea:focus {
    outline: none !important;
    border:0.063rem solid var(--base);
    box-shadow: 0 0 0.625rem #719ECE;
  }
.cp-btn{
    background-color: var(--base);
    padding: 0.313rem 3.125rem;
    color: white;
    border-radius: 1.875rem;
}
.cp-btn:hover{
    transition: all 0.25s ;
    background-color: white !important;
    box-shadow: 0 0 0.625rem var(--base) !important;
    color:var(--base)
}

.progressbar{
    height: 0.625rem;
    width: 33%;
    background-color: #E7E6E6;
    padding: 0 !important;
    margin: 0 !important;
}
.progressbar-divider{
    background-color: white;
    width: 0.5%;
    height: 0.625rem;
    padding: 0 !important;
}
.progressbar-active{
    background-color: var(--base);
}

@media(max-width:1350px){
    .cp-fontsizemediaquery{
        font-size: 0.563rem !important;
        white-space: nowrap;
    }
    .form-select-sm {
        font-size: 0.625rem;
    }
}
/* .form-select-sm ,.form-control-sm{
    font-size: 12px !important;
} */
.add-btn{
    background-color: var(--orangebtn);
    border: 0;
    border-radius: 0;
}
.labreportimgdiv{
    height: 12.5rem;
    background-color: #F9F8F8;
}
.leftarrow{
    border-radius: 100%;
    
}
.leftarrow:hover{
background-color: var(--base);
color: white;
}
label{
    white-space: nowrap !important;
}


/* payment form css */
.payment-background{
    background-color: var(--base);
}
.payment-cards{
    border-radius: 33px;
    height: 237px;
}

.payment-cards button{
    width: 100%;
    border-radius: 40px !important;
    font-weight: bold;
}
.xxx-text-shadow{
    text-shadow: 0px 2px 3px black;
}