.sizing{
    font-size: 15px;
}
.logo{
    width: 50px;
    height: 50px; 
    filter: sepia(2%)  invert(65%) contrast(100%) saturate(100%) brightness(100%) hue-rotate(50deg);  
    
}

#anchor{
    color: black;
}
#rural{
    font-size: 12px;
    font-weight: 700;
    color: brown;
    line-height: 4px;
   ;

}
#tele{
    margin-left: 9px;
}

#telemedicine{
    font-size: 16px;
    /* text-shadow: 0.01px 0.01px 3px black; */
}

#dashboard{
    margin-bottom: 12px;
}

.vertical-nav{
    min-width: 13rem;
    width: 13rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    transition: all 0.4s;
    }

#sidebar.active{
        margin-left: -13rem;
    }

.nav-link{
    text-transform: capitalize;
}
.nav-link:hover{
    background-color: #f3f2f2;
}

.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right:40px ;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 768px){
    /* .checkbtn{
        display:block;
    }
    #navigationbar  {
        position:absolute;
        
        background-color: #2c3e50;
       
        text-align: center;
        transition: all .5s;
    } */
    /* #navigationbar li{
        display: block;
        margin: 50px 0;
        line-height: 30px;

    }
    #navigationbar li a{
        font-size: 20px
    }

    a:hover,a.active{
        background: none;
        color:#0082e6;

    }
    #check:checked ~ul{
        left:0
    } */
    #sidebar{
        display: block;
        width: 100%;
        height: 5rem;
        position: relative;
        top: 0;
        left: 0;
        font-size: 0.8rem;
        justify-content: left;
        box-sizing: border-box;
        
        margin: 0;
        padding: 0;
        

    }
    #navigationbar  {
        position:absolute;
        top: 5rem;
        
        width: 200px;
        display: inline-block;
        /* border: 2px solid black; */
        text-align: center;
        transition: all .5s;
        z-index: 10000;
        left: -200px;
        margin: 0;
        padding: 0;
        
    } 
    #navigationbar li{
        display: block;
        text-align: center;
        margin: 0;
        line-height: 20px;
    }
    #check:checked ~ #navigationbar{
        left:0;
    }
 
    #mediabar{


    }
    #fas{
        
    }
    .nav-item{
        display: flex;
    }
    #main-sidebar{
        margin: 0;
        padding:0 ;
    }
 
    /* #navigationbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-align: center;
        width: 100%;
   
        border: 2px solid black;
    } */

    .checkbtn{
        display:block;
    }
 

    /* .spantext{
        display: none;
    } */
    #sidebar.active{
        margin-left:0;
    }
    #content{
        width: 100%;
        margin:0
    }
    #content.active{
        margin-left: 13rem;
        width:calc(100% - 13rem)
    }
}
/* 

@media (max-width: 576px){
    #sidebar{
        
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 10rem;
        position: relative;
        top: 0;
        left: 0;
        font-size: 0.8rem;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
        margin: 0;
        padding: 0;
        
        }
        #mediabar{
            margin: 0;
            padding: 0;
            display: inline-block;
            
        }
        .media-body{
            display: none;
        }
        .flex-column{
            display: inline-block;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            text-align: center;
    
            width: 90%;
    
            border: 2px solid black;
        }
} */
