/* @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;500;700;900&display=swap');
:root{
  --base:#7682EF;
  --orangebtn:#FF544B;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}


.scrollbar::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  background-color: rgba(245, 245, 245, 0.712);
}

.scrollbar::-webkit-scrollbar-track {
  
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(131, 124, 124, 0.274);
}

.scrollbar::-webkit-scrollbar-corner{
  background-color: gray;
}
.scrollbar::-webkit-scrollbar-thumb:hover {

  background-color: var(--base);
  
}

.mbsc-avatar {
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  border-radius: 1.25em;
}

html::-webkit-scrollbar {
  width: 13px;
  height: 13px;
  background-color: rgba(245, 245, 245, 0.712);
}

html::-webkit-scrollbar-track {
  
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(131, 124, 124, 0.274);
}

html::-webkit-scrollbar-corner{
  background-color: gray;
}
html::-webkit-scrollbar-thumb:hover {

  background-color: var(--base);
  
}
